<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<system.web>
		<httpRuntime maxRequestLength="2147483647"/>
	</system.web>

	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IRegisterService" />
                <binding name="WSHttpBinding_IAuthService" />
				<binding name="WSHttpBinding_IVoyageDataSerrvice" maxReceivedMessageSize="700000000" messageEncoding="Mtom">
					<readerQuotas maxArrayLength="700000000"/>
				</binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/RegisterService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IRegisterService" contract="VoyageClient.IRegisterService"
                name="WSHttpBinding_IRegisterService">
                <identity>
                    <userPrincipalName value="SAURAV\LENOVO" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/AuthService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IAuthService" contract="VoyageClient.IAuthService"
                name="WSHttpBinding_IAuthService">
                <identity>
                    <userPrincipalName value="SAURAV\LENOVO" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/DataService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IVoyageDataSerrvice" contract="VoyageClient.IVoyageDataSerrvice"
                name="WSHttpBinding_IVoyageDataSerrvice">
                <identity>
                    <userPrincipalName value="SAURAV\LENOVO" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>