<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IVoyage_Guide_Services" />
                <binding name="BasicHttpBinding_IRegisterService" />
                <binding name="BasicHttpBinding_IAuthService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52350/Voyage_Guide_Services.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVoyage_Guide_Services"
                contract="VoyageClient.IVoyage_Guide_Services" name="BasicHttpBinding_IVoyage_Guide_Services" />
            <endpoint address="http://localhost:52350/Voyage_Guide_Services.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRegisterService"
                contract="VoyageClient.IRegisterService" name="BasicHttpBinding_IRegisterService" />
            <endpoint address="http://localhost:52350/Voyage_Guide_Services.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthService"
                contract="VoyageClient.IAuthService" name="BasicHttpBinding_IAuthService" />
        </client>
    </system.serviceModel>
</configuration>